configuration{
    modi: "run,drun,window,combi";
    combi-modi: "window,run,drun";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-combi: " All ";
    display-run: " Run ";
    display-window: " Window";
    sidebar-mode: true;
    drun-search-paths: ["~/.local/share/applications", "/usr/share/applications"];
}

@theme "catppuccin-mocha"
